.Trial {
    margin-top: 40px;
    border-top: 1px solid var(--light-grayish-blue-empty-slider-bar);

    .trial-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--card-side-padding);
    }

    ul {
        padding-left: 20px;
    }

    li {
        text-align: left;
        list-style-image: url('../assets/pictures/icon-check.svg');
        padding-left: 10px;
        padding: 5px 5px;
    }

    .start-button {
        border: none;
        background-color: var(--dark-desaturated-blue-text-and-CTA-background);
        color: var(--pale-blue-CTA-text);
        padding: 15px 40px;
        border-radius: 30px;
        font-weight: 800;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            cursor: pointer;
            color: var(--white-pricing-component-background);
        }
    }

    @media screen and (max-width: 475px) {

        & {
            font-size: 15px;
            margin-bottom: 20px;
        }

        .trial-content {
            flex-direction: column;
        }

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;  
          padding: 20px 0 20px 20px;
        }

        .left, .right {
            width: 100%;
        }

    }
}